@use "../../../stylesheets/abstracts/" as *;
@use "../../Stepper/Stepper.module.scss" as s;
@use "../InputWithLabel/InputWithLabel.module.scss" as i;

.plate {
  display: flex;
  flex-direction: column;
  gap: s.$padding * 3;

  transition: all 0.1s ease-in;

  @extend i, .base-control !optional;

  &:hover {
    @extend i, .base-control--focused !optional;
  }
}

.plate--selected {
  @extend i, .base-control--focused !optional;
  background-color: $gray-200;
}

.header {
  font-weight: $bold;

  @extend i, .base-control__header !optional;
}

.body {
  display: flex;
  flex-direction: column;
  gap: s.$padding * 0.25;
}

.footer {
  @extend .body;

  @extend i, .base-control__footer !optional;
}

.yearly-discount {
  color: $blue-400;
}
