@use "../abstracts/" as *;

html {
    font-family: $mainFontFamily, "Calibri";
    scroll-behavior: smooth;
}

body {
    color: $blue-400;
    background-color: $gray-300;
    font-weight: $normal;
}
