@use "../../stylesheets/abstracts/" as *;
@use "../Stepper/Stepper.module.scss" as s;

$base-padding: 2em;

.step-form {
  grid-area: step-form;

  display: grid;
  grid-template-areas:
    "header"
    "form"
    "nav";
  grid-template-rows: max-content auto max-content;
  gap: s.$padding * 3;

  //align-items: center;

  padding: $base-padding $base-padding * 3;

  
}

.header {
  font-weight: $bolder;
  font-size: 2rem;
}

.subheader {
  color: $gray-400;
}

.header-wrapper {
  grid-area: header;

  display: flex;
  flex-direction: column;
  gap: s.$padding;
}

.form {
  grid-area: form;

  display: grid;
}

@media (max-width: $large) {
  .header {
    display: initial;
  }
  
  .subheader {
    display: initial;
  }
}


