@use "../../../stylesheets/abstracts/" as *;
@use "../../Stepper/Stepper.module.scss" as s;

.base-control {
  border: 1px solid $gray-300;
  border-radius: s.$border-radius * 0.5;
  outline: none;

  padding: s.$padding * 0.75 s.$padding;

  transition: all 0.1s ease-in;

  &:focus {
    @extend .base-control--focused;
  }

  &__header {
    font-weight: $bold;
  }

  &__footer {
    font-weight: $bold;
    font-size: 0.9rem;
    color: $gray-400;
  }
}

.base-control--focused {
  border-color: $blue-300;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "label error"
    "input input";
  gap: s.$padding * 0.5 s.$padding;
}

.input {
  grid-area: input;

  @extend .base-control;

  font-weight: $bold;
  color: $blue-400;

  &::placeholder {
    opacity: 0.35;
  }

  &--error {
    border-color: $red-100;
  }
}

.label {
  grid-area: label;

  opacity: 0.9;
}

.error-msg {
  grid-area: error;

  justify-self: end;

  font-weight: $bold;
  color: $red-100;
}
